.not-found{
    height: 100vh;
    margin-top: 150px;
}
.not-found h1{
  font-size: 80px;
}
.not-found h4{
    font-size: 35px;
}
.not-found p{
    font-size: 25px;
    
}

@media only screen and (max-width: 600px) {
  .not-found{
    height: 100vh;
    margin-top: 40px;
}
.not-found h1{
  font-size: 60px;
}
.not-found h4{
    font-size: 25px;
}
.not-found p{
    font-size: 19px;
    
}
  }