.fruits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    margin: 50px 90px
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }