.my-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 20px 50px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .my-items{
    display: block;
    margin: 15px;
    border-radius: 5px;
  }
}