.welcome{
    height: 90vh;
    text-align: center;
    margin-top: 150px;
}
.welcome h4{
    color: blue;
    font-size: 30px;
}
.welcome p{
    color: green;
    font-size: 24px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .welcome{
        height: 80vh;
        margin-top: 80px;
    }
    .welcome h4{
        font-size: 22px;
    }
    .welcome p{
        font-size: 18px;
    }
}