.add-section{
  width: 50vw;
   background-color: rgba(255, 228, 196, 0.807);
   padding: 20px;
   border-radius: 10px;
   border-right: 22px solid lightgreen;
   margin-bottom: 150px;
  
    
}
.add-section input{
    border-radius: 5px;
    border: 1px solid gray;
}
.add-title{
    font-family: 'Teko';
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
    color: blue;

}

@media only screen and (max-width: 600px) {
  .add-section{
    width: 90vw;
    padding: 10px;
    border-radius: 5px;
    border-right: 15px solid lightgreen;
    margin-bottom: 80px;  
     
 }
 .add-title{
  font-size: 25px;
  margin-top: 18px;


}
  }

